.extended-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 52px;
    width: 288px;
    min-height: 687px;
    padding: 68px 32px 48px 32px;
    border-radius: 24px;
    background: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    gap: 32px;

    &__content {
        width: 180px;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 8px;
    }

    &__content2 {
        width: 100%;
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 8px;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    &__title {
        font-weight: 700;
        font-size: 18px;
        color: #141938;
        margin-bottom: 4px;
    }

    &__subtitle {
        font-size: 12px;
        font-weight: 600;
        color: #7981B2;
        margin-bottom: 2px;
    }

    &__price {
        font-weight: 700;
        color: #141938;
        font-size: 16px;
    }

    &__divider {
        // width: calc(100% + 64px);
        width: 100%;
        // margin-left: -32px;
        border: none;
        border-top: 1px solid #D7DBF5;
    }

    &__list {
        flex-grow: 1;
        list-style: disc;
        padding-left: 16px;

        li {
            margin-bottom: 16px;
            font-size: 14px;
            color: #111;
            line-height: 1.4;

            strong {
                font-weight: 600;
            }
        }
    }

    &__button {
        align-self: stretch;
        align-self: center;
        background: #FF1C44;
        color: #fff;
        font-weight: 600;
        font-size: 14px;
        padding: 12px 24px;
        border: none;
        border-radius: 9999px;
        cursor: pointer;
        transition: background 0.2s ease;
    }
}