
// Colores
$color-primary: #ef3340;
$color-secondary: #6f42c1;
$color-text: #000000;
$color-bg: #f8f9fa;
$color-white: #fff;
$color-gray-light: #fff;

// Tipografi
$font-family-base: 'Poppins', sans-serif;

// Breakpoints
$breakpoint-mobile: 480px;
$breakpoint-desktop: 1200px;

// Espaciados
$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;
$spacing-xl: 48px;

// z-index
$z-header: 1000;
$z-modal: 2000;
