
// Colores
$color-primary: #ef3340;
$color-secondary: #6f42c1;
$color-text: #000000;
$color-bg: #f8f9fa;
$color-white: #fff;
$color-gray-light: #fff;

// Tipografi
$font-family-base: 'BR Sonoma', sans-serif;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

// Breakpoints
$breakpoint-mobile: 768px;
$breakpoint-desktop: 1200px;

// Espaciados
$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;
$spacing-xl: 48px;

// z-index
$z-header: 1000;
$z-modal: 2000;
