@import "@/styles/_variables";
@import "@/styles/mixins";

.navbar {
  background-color: transparent;
  border-bottom: 1px solid $color-gray-light;
  padding: $spacing-md 0;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo img {
    width: 120px;
    height: auto;
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: $spacing-lg;

    @include respond-to(mobile) {
      gap: $spacing-md;
    }
  }

  &__link {
    color: $color-text;
    font-weight: 500;
    text-decoration: none;
    transition: color 0.2s ease, text-decoration 0.3s ease;

    &:hover {
      text-decoration: underline;
      text-underline-offset: 3px;

    }
  }

  &__button {
    color: $color-text;
    cursor: pointer;
    border: none;
    transition: all 0.3s ease;
    background-color: transparent;

    &:hover {
      text-decoration: underline;
      border: none;
    }
  }
}