@import "@/styles/_variables.scss";
@import "@/styles/mixins.scss";

.navbar {
  background-color: transparent;
  border-bottom: 1px solid $color-gray-light;
  padding: $spacing-md 0;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo img {
    width: 65px;
    min-width: 65px;
    height: auto;
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: $spacing-lg;
  }

  &__link {
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.4px;
    text-align: right;

    color: $color-text;
    text-decoration: none;
    transition: color 0.2s ease, text-decoration 0.3s ease;

    &:hover {
      text-decoration: underline;
      text-underline-offset: 3px;
    }
  }

  &__button {
    color: $color-text;
    cursor: pointer;
    border: none;
    transition: all 0.3s ease;
    background-color: transparent;

    &:hover {
      text-decoration: underline;
      border: none;
    }

    @include respond-to(mobile) {
      display: none;
    }
  }
}